#view {
  margin-top: 70px;
}

.navbar a.navbar-brand {
  padding: 0;
}

.navbar img.logo {
  max-height: 60px;
  margin: 0;
}

.navbar .search {
  margin-top: 10px;
}

#editor h3 {
  color: #CCC;
}

#editor h4 span.label {
  margin-right: 10px;
}

#editor div.torrent {
  margin-top: 10px;
}

#video .progress {
  margin-top: 6px;
  height: 10px;
  cursor: pointer;
}

#video video {
  cursor: crosshair;
  outline: 0;
}

.big {
  font-size: 20px;
}

div.cover {
  text-align: center;
  min-height: 370px;
  margin-bottom: 20px;
}

div.cover a {
  text-decoration: none;
}

div.cover img {
  margin: 0 auto;
}

div.actor a.img-circle {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
}

div.actor {
  margin-bottom: 20px;
}
