#view {
  margin-top: 70px;
}

.navbar a.navbar-brand {
  padding: 0;
}

.navbar img.logo {
  max-height: 60px;
  margin: 0;
}

.navbar .search {
  margin-top: 10px;
}

#editor h3 {
  color: #CCC;
}

#editor h4 span.label {
  margin-right: 10px;
}

div.cover {
  text-align: center;
  min-height: 370px;
  margin-bottom: 20px;
}

div.cover a {
  text-decoration: none;
}

div.cover img {
  margin: 0 auto;
}
