<div id="editor" ng-cloak ng-show="movie">
  <div class="row header">
    <div class="col-xs-2">
      <img class="img-responsive img-rounded" ng-src="{{ 'http://image.tmdb.org/t/p/w185/' + movie.poster_path }}" />
    </div>
    <div class="col-xs-10">
      <p class="actions pull-right hidden-xs">
        <a ng-show="movie.imdb_id" href="http://www.imdb.com/title/{{ movie.imdb_id }}" class="btn btn-primary" target="_blank">View on Imdb</a>
      </p>
      <h1>{{movie.title}}</h1>
      <h3>{{movie.tagline}}</h3>
      <h4>
        <span class="label label-info" ng-repeat="g in movie.genres">
          {{ g.name }}
        </span>
      </h4>
      <blockquote class="hidden-xs">
        {{ movie.overview }}
      </blockquote>
    </div>
  </div>

  <div class="alert alert-warning" ng-hide="torrent || error || ask_creation">
    <h4>Awaiting informations</h4>
    Hang on...
  </div>

  <div class="alert alert-success" ng-show="ask_creation" ng-hide="torrent">
    <span class="pull-right btn btn-primary" ng-click="start_download()">Start !</span>
    <h4>Start a download ?</h4>
    This movie is available to download.
  </div>

  <div class="alert alert-danger" ng-show="error">
    <h4>No torrent</h4>
    There is no video source available for this movie
  </div>

  <div class="row torrent" ng-show="torrent">

    <div class="alert alert-info" ng-show="torrent.status=='not_cached'">
      <h4>New movie !</h4>
      <span class="text-muted">Step 1 of 5</span> The movie has been added to the process list.
    </div>

    <div class="alert alert-info" ng-show="torrent.status=='downloading'">
      <h4>Downloading movie</h4>
      <span class="text-muted">Step 2 of 5</span> The movie is being downloaded. It should be here in {{ torrent.eta | humanSeconds }}
    </div>

    <div class="alert alert-info" ng-show="torrent.status=='pending_processing'">
      <h4>Pending Process</h4>
      <span class="text-muted">Step 3 of 5</span> The movie is waiting to be processed on our servers. Hang on !
    </div>

    <div class="alert alert-info" ng-show="torrent.status=='processing'">
      <h4>Processing movie</h4>
      <span class="text-muted">Step 4 of 5</span> The movie is being converted on our server and should be available in a few seconds !
    </div>

    <div class="progress" ng-show="torrent.progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ torrent.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ torrent.progress }}%;">
        {{ torrent.progress }} %
      </div>
    </div>

    <div ng-show="torrent.status=='cached'">
      <div ng-show="video" editor-video conf="video"/>
    </div>
  </div>

  <div class="row" ng-show="actors">
    <div class="col-xs-12">
      <h3>Actors</h3>
      <div class="col-sm-2 col-xs-3 text-center actor" ng-repeat="actor in actors" ng-show="actor.order < 4">
        <a href="#/actor/{{ actor.id }}" class="img-circle" style="background-image: url('{{ 'http://image.tmdb.org/t/p/w185/' + actor.profile_path }}');" ></a>
        <a href="#/actor/{{ actor.id }}">{{ actor.name }}</a>
      </div>
    </div>
  </div>
  <div class="row" ng-show="similars">
    <div class="col-xs-12">
      <h3>Similar movies</h3>
      <div class="col-sm-4 col-xs-6" ng-repeat="movie in similars">
        <a href="#/movie/{{ movie.id }}">{{ movie.title }}</a>
      </div>
    </div>
  </div>
</div>
