<div id="video">
  <div class="col-xs-12">
    <video ng-cloak ng-show="mp4url" width="{{ conf.width }}" autoplay="autoplay" muted="muted">
    </video>
  </div>

  <div class="col-xs-2 text-center">
    {{ time | nice_seconds }} / {{ duration | nice_seconds }}
  </div>

  <div class="col-xs-10">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ percent | number:0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent | number:0 }}%;">
      </div>
    </div>
  </div>

  <div class="col-xs-12 pictures">
  </div>

</div>
